@import url('https://fonts.googleapis.com/css?family=Cookie|IM+Fell+Great+Primer+SC|Raleway:300');
/*
font-family: 'IM Fell Great Primer SC', serif;
font-family: 'Cookie', cursive; */

/* GENERAL */
* {
  box-sizing: border-box;
}
body {
  background-color: ghostwhite;
  color: grey;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  margin-top: 3%;
}
.cover {
  object-fit: cover;
}
.inline {
  display: inline;
}
.none {
  list-style-type: none;
}


/* ANIMATIONS */
.pointer {
  cursor: pointer;
}

/* FONTS */
.f12 {
  font-size: 1.2rem;
}

.f15 {
  font-size: 1.5rem;
}
.f2 {
  font-size: 2rem;
}

/* LINKS */
li a {
  color: #303030;
  text-decoration: none;
}
ul:hover li a {
  color: 	#c0c0c0;
}
ul li a:hover {
  color: #333;
}


/* NAVIGATION */
.main-nav {
  display: flex;
  justify-content: flex-end;
}

/* SIZES */
.h5 {
  height: 5%;
}

.h50 {
  height: 50%;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

/* MEDIA QUERIES */
/* @media  */
